#app{
    width:500px;
    margin: 0 auto;
    border: 1px solid #27ae60;
    text-align: center;
    padding: 20px 0px;
}

p{
    margin:3px 0px;
}

h1{
    margin:10px 0px;   
    color: #d35400;
}

.langswicher, .langswicherActive{
    margin:5px;
    padding:5px;
    display: inline-block;
    color: white;
    background-color: #229954;
    cursor: pointer;
    width:22px;
}

.langswicherActive, .langswicher:hover{
    background-color: #2980b9;
    border-bottom: red 3px solid; 
    
}

.langswicherActive{
    cursor: default;
}

.number, .numberSelected, .numberCorrect {
    margin:5px;
    padding:5px;
    display: inline-block;
    width:28px;
    color:white;
}

.number{
    cursor:pointer;
    background-color:#bfc9ca;
}

.number:hover{
    background-color: #2980b9;
    color:white;
}

.numberSelected, .numberCorrect {
    cursor:default;
    background-color: #2980b9;
    color:white;
}
